
.container_cards{
    width: 23rem;
    height: 8rem;
    background-color: #39a900;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 25px;
    gap: 1rem;
    color: white;
}

.project{
    width: 30%;
    height: auto;
    border-radius: 25px;


}

.content_card{
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    font-size: 1.5rem;
}

.content_card>a{
    color: #5a5a5a;
}