*{
    margin: 0;
    padding: 0;
}

.container_header_footer{
    width: 25%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.home{
    width: 100%;
    height: auto;
    display:flex;
    justify-content: center;
};

